<div>
  <h1>Create New Recipes</h1>

  <%= form_for @recipe do |f| %>
    <div class='field'>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class='field'>
      <%= f.label :preparation_time %><br>
      <%= f.text_field :preparation_time %>
    </div>

    <div class='field'>
      <%= f.label :cooking_time %><br>
      <%= f.text_field :cooking_time %>
    </div>

    <div class='field'>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class='field'>
      <%= f.label 'Make Public' %>
      <%= f.radio_button :public, 'true', :checked => true %>
      <%= f.label 'True' %>
      <%= f.radio_button :public, 'false' %>
      <%= f.label 'False' %>
    </div> 
    
    <div class='actions'>
      <%= f.submit %>
    </div>
  <% end %>
</div>