<div class='container'>
  <div class='headline'>
    <h1><%= @recipe.name %></h1>
  </div>

  <div class='recipe-details border'>
    <p>Prepartion Time: <%= @recipe.preparation_time %></p>
    <p>Cooking Time: <%= @recipe.cooking_time %></p>
    <p>Description: <%= @recipe.description %></p>
  </div>

  <div class='action-btn'>
    <%= button_to 'Generate Shoping List', '#', :class => 'btn btn-primary' %>
    <%= button_to 'Add Ingredient', '#', :class => 'btn btn-secondary' %>
  </div>

  <div>
    <h2>Ingredient List</h2>
  </div>
</div>