<div class='container'>
  <div class='headline'>
    <h1><%= @recipe.name %></h1>
  </div>

  <div class='recipe-details border'>
    <p>Prepartion Time: <%= @recipe.preparation_time %></p>
    <p>Cooking Time: <%= @recipe.cooking_time %></p>
    <p>Description: <%= @recipe.description %></p>
  </div>

  <div class='row ingredients'>
    <div class='col'>
      <%= button_to 'Generate Shoping List', '#', :class => 'btn btn-primary' %>
    </div>
    <div class='col'>
      <%= link_to 'Add Ingredient', new_recipe_path, :class => 'btn btn-secondary' %>
    </div>
  </div>

  <div>
    <h2>Ingredient List</h2>
     <table class="table table-hover table-bordered mt-4 table-responsive{-sm|-md|-lg|-xl} ">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Value</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_foods.each do |food| %>
            <tr>
              <td><%= food.food.name%></td>
              <td><%= food.quantity%><%= food.food.measurement_unit %></td>
              <td>
                <% sum = 0 %>
                <% sum += food.quantity * food.food.price %>
                <%= "Total price: $#{sum}" %>
              </td>
              <td>
                <% if can? :update, @recipe %>
                  <%= button_to "Delete", recipe_recipe_food_path(recipe_id:@recipe.id,id:food.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    
  </div>
</div>