<div class="food-view">
    <h1 class="welcome">Welcome to the Food Index Page</h1>
    <div>
    <%= link_to 'Add Food',  new_food_path , class: "btn btn-dark" %>
    </div>
    <h2>Below Is a List Of Foods in our Recipe App</h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Food</th>
          <th scope="col">Measurement Unit</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% Food.all.each do |food| %>
            <tr>
                <th scope="row"><%= food.id %></th>
                <td><%= food.name %></td>
                <td><%= food.measurement_unit %></td>
                <td>$ <%= food.price %></td>
                <td> <%= food.quantity %></td>
                <td>
                
                <%= button_to "Delete", food_path(food.id), data: {turbo: false}, method: :delete, class: "btn btn-danger" %>
                
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    </div>